html{
    color: #e8f8ff;
    background-color: #000;
}

body{
    background-color: #000;
    transform: translateY(-8px);
}

.page-container{
    display: grid;
    grid-template-columns: 1fr 1600px 1fr;
}

#mainpage_content{
    background-color: #101520;
}

.navbar{
    display: flex;
    background-color: #060a0f;
    justify-content: right;
    align-items: center;
}

.navbar>a{
    color: #fff;
    font-size: 36px;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #386663;
    padding: 6px 24px;
}

.navbar a:hover{
    background-color: #688;
}

.flex-container, #title{
    padding: 10px 50px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text-box{
    border: 3px #adf;
}